@import "bourbon"
@import "_vars.sass"

+font-face("AmazingGroteskBook", "../fonts/AmazingGroteskBook/AmazingGroteskBook", $file-formats: eot woff ttf)
+font-face("AmazingGroteskLight", "../fonts/AmazingGroteskLight/AmazingGroteskLight", $file-formats: eot woff ttf)
+font-face("OpenSansBold", "../fonts/OpenSansBold/OpenSansBold", $file-formats: eot woff ttf)
+font-face("OpenSansRegular", "../fonts/OpenSansRegular/OpenSansRegular", $file-formats: eot woff ttf)
+font-face("OpenSansLight", "../fonts/OpenSansLight/OpenSansLight", $file-formats: eot woff ttf)

body
	font-size: 15px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "OpenSansRegular", sans-serif
	overflow-x: hidden

.hidden
	display: none

a
	&:hover
		text-decoration: none
		// color: $blak

h1,h2,h3,h4,h5,h6
	font-family: "OpenSansBold",sans-serif
	color: $titlecolor

h1,h2,h3,h4,h5,h6,ul,p
	margin: 0
	padding: 0
	list-style-type: none

input,textarea,button
	outline: none
	border: none
button
	background-color: transparent

.blue
	color: $main
.clrp
	padding: 0
.btn
	color: $main
	border: 1px solid $main
	text-align: center
	line-height: 45px
	padding: 0 25px
	display: inline-block
	transition: all 0.3s
	background-color: transparent
	border-radius: 2px
	text-transform: uppercase
	&.block
		display: block
		margin: 0 auto
		width: 140px
	&.white
		border-color: $white
		color: $white
		&:hover
			color: $main
			background-color: $white
	&.small
		color: $titlecolor
		border: none
		letter-spacing: 1px
		font-family: 'OpenSansBold'
		&:hover
			background-color: transparent
			color: $titlecolor
			text-decoration: underline
			padding-left: 15px!important
		i
			margin-right: 10px
	&.full
		background-color: $main
		color: $white
		&:hover
			border-color: $main
			color: $main
			background-color: $white
	&:hover
		color: $white
		background-color: $main

header
	min-height: 100px
	.top-nav
		position: fixed
		width: 100%
		min-height: 100px
		background-color: $white
		line-height: 100px
		box-shadow: 0 1px 6px #666
		z-index: 10000
		.col-md-10
			position: initial
		nav
			text-align: right
			padding-right: 40px
			> ul
				>	li
						display: inline-block
						vertical-align: top
						&:hover ul					
							opacity: 1				
							width: 100%	
						&:hover > a
							&:after
								bottom: 0
								opacity: 1				
							&:before					
								transform: rotate(-90deg)
								margin-top: -14px
						> a
							color: $main
							padding: 0 20px
							line-height: 100px
							display: block
							position: relative
							margin 0 auto
							height: 100px
							&:before
								position: absolute
								content: "\25be"
								width: 18px
								height: 30px
								right: 0
								top: 50%
								margin-top: -16px
								line-height: 31px
								font-size: 22px
								color: $main
								text-align: center
								transition: all 0.3s
							&:after
								position: absolute				
								content: ""
								bottom: 10px
								left: 50%
								margin-left: -10px
								opacity: 0
								width: 0
								height: 0
								border-style: solid
								border-width: 0 10px 10px 10px
								border-color: transparent transparent rgba(0,0,0, .7) transparent
								transition: all 0.5s
							&:last-child a						
								span
									font-family: 'AmazingGroteskBook'					
						ul
							position: absolute
							width: 0%
							left: 0
							line-height: 45px
							background-color: rgba(0,0,0, .7)							
							height: 55px
							bottom: -55px
							opacity: 0
							transition: all 0.5s
							overflow: hidden
							padding-right: 80px			
							li
								display: inline-block
								a
									display: block
									position: relative
									padding: 5px 10px
									color: $white
									font-size: 14px
									transition:  background-color .3s
									&:hover
										background-color: #000
									&:before
										position: absolute
										content: ''
										width: 1px
										height: 16px
										background-color: $white
										right: -2px
										top: 21px
			.search-block
				position: absolute
				right: 10px
				top: 50%	
				line-height: 40px
				height: 40px
				margin-top: -21px			
				color: $main					
	.btn-menu			
		position: absolute
		top: 32px
		right: 15px
		width: 32px
		height: 32px
		cursor: pointer	
		z-index: 1000	
		display: none				
		span
			position: absolute
			width: 100%
			height: 3px
			background-color: $main
			transition: all 0.3s
			&:nth-child(1)
				top: 4px
			&:nth-child(2)
				top: 16px
			&:nth-child(3)
				top: 28px
		&.open-menu
			span
				&:nth-child(1)
					transform: rotate(45deg)
					-webkit-transform: rotate(45deg)
					top: 15px
					-webkit-transition-delay: 0.3s
					-o-transition-delay: 0.3s
					transition-delay: 0.3s
				&:nth-child(2)
					width: 0
				&:nth-child(3)
					transform: rotate(-45deg)
					-webkit-transform: rotate(-45deg)
					top: 15px
					-webkit-transition-delay: 0.3s
					-o-transition-delay: 0.3s
					transition-delay: 0.3s
	form#search
		position: absolute
		width: 270px
		height: 100px
		bottom: -115px
		right: -370px
		opacity: 0
		box-shadow: 1px 2px 3px #ccc
		background-color: $white
		line-height: 40px
		transition: all 0.6s
		&.active
			right: 0
			opacity: 1	
		&:before
			position: absolute
			content: ""
			width: 0
			height: 0
			border-style: solid
			border-width: 0 10px 12px 10px
			border-color: transparent transparent $white transparent
			top: -11px
			right: 10px
		input
			position: absolute
			top: 50%
			margin-top: -22px
			left: 20px
			width: 200px
			border-bottom: 1px solid $main
		button
			line-height: 96px
			color: $main
			width: 41px

